
 <body class="body">
    

<div style="text-align:center">
<h1>{{message}}</h1>
</div>
<div class="rectangleno8">	
</div>

<div class="rectanglewithinbackground">
   </div>

   <input type="text/css" class="rectangleno1" [(ngModel)]="register.name">

    <input type="text/css" class="rectangleno2" [(ngModel)]="register.age">

     <input type="text/css" class="rectangleno3" [(ngModel)]="register.totalExperience">

      <input type="text/css" class="rectangleno4" [(ngModel)]="register.relevantExperience">

       <input type="text/css" class="rectangleno5 " [(ngModel)]="register.skills">

        <input type="text/css" class="rectangleno6" [(ngModel)]="register.maritialStatus">

        <input type="text/css" class="rectangleno7" [(ngModel)]="register.location">
    
    

   

   <div>
     <input type="submit" value="Register" class="submit" (click)="registerNow()">
      <input type="button" value="Back" class="backbutton">
   
</div>
   <p class="NAME">Enter your Name</p>
    <p class="AGE">Enter your Age</p>
     <p class="TOTALEXP">Enter your TotalExperience</p>
      <p class="RELEVANTEXP">Enter your RelevantExperience</p>
       <p class="MARITIALSTATUS">Enter your MaritialStatus</p>
        <p class="SKILLS">Enter your Skills</p>
         <p class="LOCATION">Enter your Location</p>

</body>









