<body class="body">

<!-- <div class="rectangleno8">	
</div> -->
<div class="rectanglewithinbackground">
 </div>
    <div>       <label class="username" style="color: #000000;">Username : </label>  
        <br>
       <input type="text/css"  placeholder="Enter Username"class="rectangleno1" >
    <br>
       <label class="password">Password : </label>  
       <br>
        <input type="text/css"placeholder="Enter Password"  class="rectangleno2" > 
         <br></div>
    <div>

    
        <button type="submit" class="login">Login</button> <br>
        <br>
         <button type="button" class="cancel"> Cancel</button>
    </div>
    </body>